body {
    background: lightgrey;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
  .rylandpic {
    width: 700px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
  }
  
  .rylandpic-p {
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
  }
  
  .footer {
    text-align: center;
    padding: 10px;
    background-color: #4A412A;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  
  .home-button,
  .linkedin,
  .projects {
    width: 40px;
    height: 40px;
  }
  
  .left-links {
    display: flex;
    gap: 20px;
  }
  
  
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #175676;
    position: absolute;
    top: 0;
    width: 100%;
  }