@import url("https://use.typekit.net/eyr8egr.css");

body {
    margin: 0 auto;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    background-color: pink;
}
.profile a {
    text-decoration: none;
    color: black;
    background-color: white;
    margin: 30px;
    padding: 10px;
    width: 15%;
    text-align: center;
    border-radius: 10px;
}
.alayna {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 100%;
    margin: 0;
}
.profile {
    display: grid;
}
h1 {
    font-size: 1.5em;
    text-align: center;
    margin: 5% 10%;
    z-index: 6;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5%;
    font-weight: 400;
    border-radius: 10px;
}
.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0% 10%;
}