@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

a{
    color:#ca6500;
    text-decoration: none;
}
.active{
    border: 2px solid #222222;
    border-radius: 7px 7px 0 0;
    background-color: #222222;
    border-bottom: 0;
}

body{
    position:relative;
    background-color: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}

.content{
    display:inline-block;
    background-color: #444444;
    background-image: url(../images/gageback.jpg);
    background-size: cover;
    width: calc(100%);
    padding: 10px;
    text-align: right;
}

h1{
    margin:0;
}

h2{
    margin:0;
    padding-top:50px;
    padding-bottom:20px;
    text-align: center;
}

h3{
    margin-bottom: 5px;
    padding-bottom: 10px;
}

main{
    vertical-align: top;
    width:auto;
}

.page{
    min-height:100%;
    padding:10px;
    margin:10px;
}

.page p{
    text-align: left;

}

#prof{
    max-width:10rem;
    float:left;
    border-radius: 2rem;
}

.socials{
    font-size:40px;
    text-align: center;
}

.tab{
    display: inline-block;
    padding:5px;
    padding-bottom: 0;
    margin:5px 2px;
    margin-bottom: 0;
    text-align: center;
    border: 2px solid black;
    border-radius: 7px 7px 0 0;
    border-bottom: 0;
}

.tabs{
    width:100%;
    border-bottom: 2px solid #222222;
    position:fixed;
    top:0;
    background-color: black;
}

ul{
    text-align: left;
}

@media (min-width: 1000px) {

    body{
        display: flex;
    }

    .content{
        position:absolute;
        top: 38px;
        height:calc(100% - 38px);
        overflow: hidden;
    }

    h1{
        padding-bottom: 15px;
        font-size: 3rem;
    }

    main{
        position:relative;
        display:flexbox;
        flex-grow:1;
        height:100vh;
        border-left: 2px solid #222222;
        margin:0;
    }

    #prof{
    margin:20px;
    }

    .socials{
        display:flexbox;
        width:calc(5vw - 20px);
        padding:10px;
        padding-top: 20px;
        height: calc(100vh - 30px);
        min-width: 60px;
    }

    .tab:hover{
        background-color: #666666;
        border-radius: 7px 7px 0 0;
    }
}
@media (max-width:999px){
    body{
        display: block;
        height:100vh;
    }

    .content{
        height:100%;
        overflow: scroll;
    }

    main{
        position:fixed;
        top:38px;

        height:calc(100% - 105px);
        
    }

    .socials{
        display:block;
        position:fixed;
        bottom:0;
        width:100%;
    }

    .tabs{
        width:100%;
        border-bottom: 2px solid #222222;
        position:fixed;
        top:0;
        background-color: black;
    }
}