@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  height: 667px;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.back-arrow {
  width: 50px;
  height: 50px;
  padding-top: 15px;
  transition: 0.2s ease;
}

.back-arrow:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.socials {
  display: flex;
  text-decoration: none;
  list-style: none;
  padding: 10px;
}

.socials li {
  margin: 5px;
}

.socials li a img {
  width: 50px;
  transition: 0.2s ease;
}

.socials li a img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.linkedin-icon {
  width: 40px;
}

.resume-icon {
  width: 42px;
}

.rickypic-nav {
  padding-top: 70px;
}

.rickypic {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.rickypic-p {
  font-family: "Karla", sans-serif;
  margin: 40px 40px;
  word-spacing: 3px;
  letter-spacing: 1px;
}
