.alayna {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 100%;
    margin: auto;
    margin-top: 5%;
    z-index: 5;
}
.profile {
    display: flex;
    flex-direction: column;
    justify-items: center;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin: 5% 10%;
    z-index: 6;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5%;
}
.description img {
    position: absolute;
    width: 100%;
}
.description {
    display: flex;
    align-items: center;
    justify-content: center;
}