

:root {
    --link-hover-color: #ff6600;
    --primary-color: #23395B;
    --secondary-color: #F5F5F5;
}

body {
    margin: 0;
    background-color: var(--primary-color);
    font-family: "ubuntu", Helvetica, sans-serif;
}

a {
    color: unset;
}

/* ---------------------- Header ---------------------- */


nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px;
    height: 50px;
    margin: 0;
}

nav li {
    list-style-type: none;
}

nav a, footer a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: var(--link-hover-color);
}


/* ---------------------- Sections ---------------------- */

h1 {
    color: var(--secondary-color);
}

main {
    padding: 20px;
}

section {
    background-color: var(--secondary-color);
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
}

#about {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

#experience {
    display: flex;
}

#about figure {
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    max-width: 400px;
    max-height: 400px;
    box-shadow: 3px 3px 10px;
}

#about img {
    transform: translate(-15%);
}

#experience img {
    border: 3px solid var(--primary-color);
    border-radius: 10px;
}


/* ---------------------- Footer ---------------------- */

footer {
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a:hover {
    color: var(--link-hover-color);
}

footer svg {
    width: 80px;
    margin-left: 10px;
    fill: white;
}

.linkedin svg {
    fill: #0078d4;
}

footer svg:hover {
    fill: var(--link-hover-color);
}

@media screen and (max-width: 700px) {
    #about, #experience {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    nav ul {
        flex-direction: column;
        height: auto;
    }
    nav li {
        padding: 5px 20px;
    }
    footer {
        flex-direction: column-reverse;
    }
    #about figure {
        max-width: 200px;
        max-height: 200px;
    }
    #about img {
        max-width: 300px;
        max-height: 300px;
    }
}