body{
    background-color: lightblue;
    text-align: center;
}

header{
    display: block;
    border: 2px darkblue solid;
    border-radius: 150px 10px 150px 10px;
    background-color: cadetblue;
    width: 25em;
    margin: auto;
}

header h1, header h2{
    margin-left: 1.5em;
    color: aliceblue;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .5px;
}

header img{
    height: 20em;
    -webkit-mask-box-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/stampTiles.svg) 30 repeat;
    mask-border: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/stampTiles.svg) 30 repeat;
    transition: all 3s;
        &:hover {
            transform: perspective(400px) rotateY(0deg) translateZ(150px) rotateY(180deg);
            border-radius: 50%;
        }
}

#content{
    margin-top: 2em;
    border: 2px darkblue solid;
    background-color: rgb(48, 200, 200);
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
}

#content h2{
    color: rgb(49, 154, 49);
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .05px;
}


hr{
    border: 2px rgb(14, 14, 103) dotted;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .5px;    
}

#content h3{
    color: beige;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .05px; 
}