a{
    display: block;
    color:rgb(255, 173, 79);
    margin: 10px;
}

a:visited{
    color:rgb(195, 186, 62);
}

body{
    background-color: rgb(97, 147, 255);
    color:white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    display:block;
    width:calc(80% - 15px);
    height:80vh;
    margin:auto;
    background-color: rgb(71, 106, 184);
    border:2px solid blue;
    border-radius: 15px;
    padding:15px;
    text-align: left;
}