.card a{
    display: block;
    margin: 10px;
    text-decoration: none;
}

body{
    text-align: center;
}

.card{
    display:block;
    width:calc(80% - 15px);
    height:600px;
    margin:30px auto;
    border-radius: 15px;
    padding:15px;
    text-align: left;
}

.presidency {
    display:block;
    width:calc(80% - 15px);
    height:600px;
    margin:30px auto;
    border-radius: 15px;
    padding:15px;
}