@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    margin: 0 auto;
}
h1 {
    text-align: center;
}
main {
    margin: 5% 15%;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.left-column{
    grid-column: 1/2;
    align-items: center;
}
.right-column{
    grid-column: 2/3;
}
.rogerimg{
    width:400px;
}

p {
    font-size: 2rem;
}
li {
    font-size: 1.5rem;
}

header, footer{
    background-color: #e69800;
    height:100px;
    padding: 10px;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}