@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://use.typekit.net/eyr8egr.css");

:root {
  --primary-color: #006eb6;
  --accent-color: #d4d4d4;

  --font-family-primary: "Ubuntu", sans-serif;
  --font-family-secondary: "neue-haas-grotesk-text", sans-serif;
}

body {
  background-color: white;
  margin: 0;
  font-family: var(--font-family-secondary);
}

#cool-picture {
  grid-column: 1/-1;
  grid-row: 1/2;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#hero-img {
  height: 300px;
  display: grid;
}

#motto {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  font-size: 4em;
  padding-top: 7.5%;
  color: white;
  font-family: var(--font-family-secondary);
  font-weight: 400;
  font-style: normal;
}

nav {
  background-color: var(--primary-color);
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav a {
  color: white;
  text-decoration: none;
  text-align: center;
  align-content: center;
  font-family: var(--font-family-primary);
  font-size: 20px;
  transition: 0.3s ease;
}

nav a:hover {
  color: var(--primary-color);
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

#nav-logo:hover {
  color: none;
  background-color: var(--primary-color);
  padding: 0px;
  border-radius: 0px;
}

#events {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 2;
  grid-gap: 16px;
}

.card,
.presidency {
  background-color: var(--accent-color);
  height: 300px;
  padding: 10px;
}


#events-container {
  margin: 20px;
}

.event-arrows {
  border: none;
  font-size: 140px;
  color: var(--primary-color);
}

#about-us-desc {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  font-size: 1.8em;
  /* padding-top: 7.5%; */
  color: rgb(51, 164, 74);
  font-family: var(--font-family-secondary);
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.about-us-btn {
  color: white;
  text-decoration: none;
  text-align: center;
  align-content: center;
  font-family: var(--font-family-primary);
  font-size: 20px;
  transition: 0.3s ease;
  display: inline-block;
  margin-top: 60px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 4px;
  border-color: white;
  /* text-shadow: 1px 2px 3px black; */
}

.about-us-btn:hover {
  color: var(--primary-color);
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.about-us-main-text {
  margin: 0;
  text-shadow: 1px 2px 3px black;
}

#cool-cards {
  display: flex;
  justify-content: space-around;
}

.cool-card {
  border: 1px solid black;
  padding: 140px;
  margin: 25px;
  border-radius: 4px;
  transition: 0.3s ease;
}

.cool-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

#member-card {
  background: rgb(232, 133, 133);
}

#member-card:hover {
  background: rgb(222, 133, 130);
}

#gallery-card {
  background-color: rgb(127, 174, 255);
}

#gallery-card:hover {
  background-color: rgb(117, 174, 255);
}

#project-card {
  background-color: rgb(174, 222, 172);
}

#project-card:hover {
  background-color: rgb(164, 222, 172);
}

footer {
  text-align: center;
  background: #006eb6;
  padding: 30px;
}

/* About us page */
.about-us-hero-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-hero-img {
  object-fit: cover;
  height: 600px;
  width: 100%;
  z-index: -6;
}

.about-us-title {
  z-index: 6;
  color: var(--primary-color);
  font-family: var(--font-family-secondary);
  font-weight: 500;
  font-size: 90px;
  position: absolute;
  background-color: rgb(255, 255, 255, 0.9);
  padding: 60px 80px;
  border-radius: 10px;
}

.mission-statement {
  margin: 7.5% 15%;
  /* background-color: var(--accent-color); */
  border: solid 5px var(--accent-color);
  padding: 5%;
  border-radius: 10px;
}

.mission-statement h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin: 10px 200px;
  padding-bottom: 20px;
  border-bottom: solid var(--primary-color) 3px;
}

.mission-statement p {
  padding-top: 20px;
  margin: 10px;
  font-size: 20px;
}

.three-about-cards {
  display: flex;
  justify-content: space-around;
  margin: 10% 5%;
}

.about-card {
  background-color: var(--primary-color);
  padding: 5%;
  width: 250px;
  color: white;
  border-radius: 10px;
}

.hero-image {
  height: 400px;
  width: 50%;
  margin: 0 auto;
}