@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://use.typekit.net/eyr8egr.css");

:root {
  --primary-color: #006eb6;
  --secondary-color: #addeff;
  --accent-color: #d4d4d4;
  
  --font-family-primary: "Ubuntu", sans-serif;
  --font-family-secondary: "neue-haas-grotesk-text", sans-serif;
}
.about-us-btn {
  color: white;
  text-decoration: none;
  text-align: center;
  align-content: center;
  font-family: var(--font-family-primary);
  font-size: 20px;
  transition: 0.3s ease;
  display: inline-block;
  margin-top: 60px;
  padding: 10px;
  border-radius: 4px;
  background-color: var(--primary-color);
}

.about-us-btn:hover {
  color: var(--primary-color);
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

#about-us-desc {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  font-size: 1.8em;
  color: white;
  font-family: var(--font-family-secondary);
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.about-us-main-text {
  margin: 0;
  text-shadow: 1px 1px 3px black;
}

body {
  background-color: white;
  margin: 0;
  font-family: var(--font-family-secondary);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.card {
  background-color: var(--secondary-color);
  height: 300px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

#cool-cards {
  display: grid;
  justify-items: center;
  width: 100%;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  gap:20px;
  padding:20px;
}

.cool-card {
  display: flex;
  width: 350px;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: 0.3s ease;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

.cool-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

#cool-picture {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

#events {
  display: flex;
  gap: 20px;
  align-items: center;
  max-width: 100%;
  justify-content: center;
}

.event-container {
  display:grid;
  grid-template-columns: 1fr;
  gap:20px;
}

.event-arrows {
  border: none;
  font-size: 50px;
  color: var(--primary-color);
  aspect-ratio: 1;
  background-color: white;
}

.event-arrows:active {
  color:#003457
}

.evenEvent{
  background-color: var(--secondary-color);
}

footer {
  text-align: center;
  background: #006eb6;
  padding: 30px;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-primary);
}

.header{
  padding:20px;
}

#hero-img {
  display: grid;
  max-height: 300px;
  overflow: hidden;
  height:auto;
  grid-template-rows: 100%;
}

#menu-button{
  color: white;
  text-decoration: none;
  text-align: center;
  align-content: center;
  font-family: var(--font-family-primary);
  font-size: 20px;
  background: none;
  border: none;
  padding: 7px;
}

#member-card, #gallery-card, #project-card {
  background: var(--secondary-color);
}

#member-card:hover, #gallery-card:hover, #project-card:hover {
  background: var(--primary-color);
}

#motto {
  text-align: center;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  font-size: 4em;
  color: white;
  font-family: var(--font-family-secondary);
  font-weight: 400;
  text-shadow: 1px 1px 3px black;
  z-index:2;
}

nav {
  background-color: var(--primary-color);
  max-height: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: 1s ease;
  padding: 10px;
  overflow: hidden;
}

nav img {

}

nav a {
  color: white;
  text-decoration: none;
  text-align: center;
  align-content: center;
  font-family: var(--font-family-primary);
  font-size: 20px;
  transition: .3s ease;
  padding:10px;
}

nav a:hover, nav a.active {
  color: var(--primary-color);
  background-color: white;
  border-radius: 5px;
  transform: scale(1.05);
}

#nav-logo {
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 0px;
  /* height: 80px; */
}

.header{
  padding:20px;
}

#events {
  display: flex;
  gap: 20px;
  align-items: center;
  max-width: 100%;
  justify-content: center;
}

.presidency {
  background-color: var(--accent-color);
  height: 300px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

#events-container {
  margin: 20px;
}

.event-container {
  display:grid;
  grid-template-columns: 1fr;
  gap:20px;
}

.event-arrows {
  border: none;
  font-size: 50px;
  color: var(--primary-color);
  aspect-ratio: 1;
  background-color: var(--secondary-color);
  border-radius: 10px;
  height:70px;
  aspect-ratio: 1/1;
  transition: .3s;
}

.event-arrows:hover{
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.event-arrows:active {
  background-color: white;
  color:#003457;
}

#about-us-desc {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  font-size: 1.8em;
  color: white;
  font-family: var(--font-family-secondary);
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.about-us-btn {
  color: white;
  text-decoration: none;
  text-align: center;
  align-content: center;
  font-family: var(--font-family-primary);
  font-size: 20px;
  transition: 0.3s ease;
  display: inline-block;
  margin-top: 60px;
  padding: 10px;
  border-radius: 4px;
  background-color: var(--primary-color);
  /* text-shadow: 1px 2px 3px black; */
}

.about-us-btn:hover {
  color: var(--primary-color);
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.about-us-main-text {
  margin: 0;
  text-shadow: 1px 1px 3px black;
}

#cool-cards {
  display: grid;
  justify-items: center;
  width: 100%;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  gap:20px;
  padding:20px;
}

.cool-card {
  display: flex;
  width: 350px;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: 0.3s ease;
  box-sizing: border-box;
}

.cool-card:hover {
  transform: scale(1.05);
  cursor: pointer;
  color:white;
}

#member-card, #gallery-card, #project-card {
  background: var(--secondary-color);
}

#member-card:hover, #gallery-card:hover, #project-card:hover {
  background: var(--primary-color);
}

footer {
  text-align: center;
  background: #006eb6;
  padding: 30px;
  margin-top: auto;
}
/* About us page */
.about-us-hero-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-hero-img {
  object-fit: cover;
  height: 600px;
  width: 100%;
  z-index: -6;
}

.about-us-title {
  z-index: 6;
  color: var(--primary-color);
  font-family: var(--font-family-secondary);
  font-weight: 500;
  font-size: 90px;
  position: absolute;
  background-color: rgb(255, 255, 255, 0.9);
  padding: 60px 80px;
  border-radius: 10px;
}

.mission-statement {
  margin: 7.5% 15%;
  border: solid 5px var(--accent-color);
  padding: 5%;
  border-radius: 10px;
}

.mission-statement h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin: 10px 200px;
  padding-bottom: 20px;
  border-bottom: solid var(--primary-color) 3px;
}

.mission-statement p {
  padding-top: 20px;
  margin: 10px;
  font-size: 20px;
}

.three-about-cards {
  display: flex;
  justify-content: space-around;
  margin: 10% 5%;
}

.about-card {
  background-color: var(--primary-color);
  padding: 5%;
  width: 250px;
  color: white;
  border-radius: 10px;
}


.hero-image {
  height: 400px;
  width: 50%;
  margin: 0 auto;
}

footer{
  color:white;
}

.open{
  max-height:500px;
}

.oddEvent{
  background-color: var(--primary-color);
  color:white;
}

.unavailable{
  background-color: lightgray;
  color:grey;
}

.unavailable:hover{
  background-color: lightgray;
  transform: none;
}


@media screen and (min-width: 840px){
  #cool-cards{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 810px;
    margin: 0 auto;
  }
  nav{
    flex-direction: row;
    justify-content: space-around;
  }
  #menu-button{
    display: none;
  }
  .event-container{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1260px){
  #cool-cards{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1130px;
    margin: 0 auto;
  }
  .event-container{
    grid-template-columns: repeat(4, 1fr);
  }
}
