@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

a{
    color:#ca6500;
    text-decoration: none;
}
.active{
    border: 2px solid #222222;
    border-radius: 7px 7px 0 0;
    background-color: #222222;
}



.page p{
    text-align: left;

}

ul{
    text-align: left;
}

#prof{
    max-width:10rem;
    float:left;
    border-radius: 2rem;
}


h2{
    margin:0;
    padding-top:50px;
    padding-bottom:20px;
    text-align: center;
}

h3{
    margin-bottom: 5px;
    padding-bottom: 10px;
}



@media (min-width: 1000px) {

    body{
        background-color: black;
        color:white;
        font-family: Arial, Helvetica, sans-serif;
        margin:0;
        display: flex;
    }

    .content{
        display:inline-block;
        background-color: #444444;
        background-image: url(../images/gageback.jpg);
        background-size: cover;
        width: calc(100%);
        height:calc(95% - 30px);
        padding: 10px;
        text-align: right;
        overflow: hidden;
    }

    h1{
        margin:0;
        padding-bottom: 15px;
        font-size: 3rem;
    }

    main{
        display:flexbox;
        flex-grow:1;
        vertical-align: top;
        width:auto;
        height:100vh;
        border-left: 2px solid #222222;
        border-right: 2px solid #222222 ;
        margin:0;
    }

    .page{
        height:100%;
        padding:10px;
        margin:10px;
    }

    #prof{
    margin:20px;
    }

    .socials{
        display:flexbox;
        width:calc(5vw - 20px);
        font-size:40px;
        padding:10px;
        text-align: center;
        padding-top: 20px;
        border-right: 2px solid #222222 ;
        height: calc(100vh - 30px);
        min-width: 60px;
    }

    .tab{
        display: inline-block;
        padding:5px 10px;
        height:100%;
        margin-top:5px;
        padding-bottom: 20px;

    }

    .tab:hover{
        background-color: #666666;
        border-radius: 7px 7px 0 0;
    }
    .tabs{
        width:100%;
        border-bottom: 2px solid #222222;
        height:5%;
        /* padding-bottom: 5px; */
    }
}
@media (max-width:999px){
    body{
        position:relative;
        background-color: black;
        color:white;
        font-family: Arial, Helvetica, sans-serif;
        margin:0;
        display: block;
        height:100vh;
    }

    .content{
        display:inline-block;
        background-color: #444444;
        background-image: url(../images/gageback.jpg);
        background-size: cover;
        width: calc(100%);
        height:100%;
        padding: 10px;
        text-align: right;
        overflow: scroll;
    }

    h1{
        margin:0;
    }

    main{
        position:fixed;
        top:45px;
        vertical-align: top;
        width:auto;
        height:calc(100% - 105px);
        border-left: 2px solid #222222;
        border-right: 2px solid #222222 ;
        
    }

    .page{
        min-height: 100%;
        padding:10px;
        margin:10px;
    }

    .socials{
        display:block;
        font-size:40px;
        text-align: center;
        position:fixed;
        bottom:0;
        width:100%;
    }

    .tab{
        display: inline-block;
        padding:5px;
        margin:5px 2px;
        margin-bottom: 0;
        text-align: center;

    }

    .tabs{
        width:100%;
        border-bottom: 2px solid #222222;
        position:fixed;
        top:0;
        background-color: black;
    }
}
