:root {

}

body {

}

.hero-image {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.centered {
    max-width:50rem;
    margin: 0 auto;
    padding: inherit 1rem;
}

.previous-projects h2 {
    max-width:50rem;
    margin: 0 auto;
    padding: inherit 1rem;
}

.previous-projects article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 40px;
}
.previous-projects div {
    align-content: center;
}

.previous-projects p:first-of-type {
    font-weight: bold;
    font-size: 1.2rem;
}

.previous-projects img {
    width: 100%;
    max-width: 500px;
    border: 10px solid black;
}

.previous-projects ul {
    padding-left: 0px;
}

.previous-projects a {
    word-break: break-all;
}

.previous-projects li {
    list-style-type: none;
}

@media screen and (max-width: 600px) {
    .previous-projects article {
        display: block;
    }
}